<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="/static/js/autobahn.js"></script>
    <script >var app = angular.module("chat", []);</script>
    <script src="/static/js/upload.js"></script>
    <script src="/static/js/angular.js"></script>
    <title>Webchat</title>
</head>
<script src="">
    
</script>

<body>
    

    <div style="background-image: url(/static/bg.jpg);height: 100vh;width:100%;" class=" row"  ng-app="chat" ng-controller="handle">

        <div class="w-50 col-6 " style="height: 100vh;">
            <h1 class="text-center mt-5 mb-5 " style="display: block; margin: auto; color: #fff;">Hello <span ng-bind = "admin.username"></span></h1>

            <div class="m-auto">
                <div class="input-group mb-3 m-auto" style="width: 49%;">
                    <input type="text" class="form-control" ng-model="search.$" placeholder="Search..."> 
                </div>
            </div>
            <div style="width: 45%; margin: auto;" class="mt-4">
                <div  class="mt-1" ng-repeat="selectedUser in users | filter:search">
                    {% verbatim %}
                <div class="row" style="background-color: #fff;border-radius: 6px;color: #888;border: 1px solid #06CEB7;">
                        <div style="border-radius: 25px;background-color: #fdf5b6;width: 40px;height: 40px;margin: auto;margin-left: 9px;">   
                        </div>
                        <p  ng-click=selectUser(selectedUser) class="text-left col active" style="cursor: pointer;padding: 0.9rem;margin-bottom:0;color:#888;">{{selectedUser.username}}
                        </p>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
            
        </div>
        <div class="col-6" style="height: 100vh;" style="padding-right:0 !important;" >
            <h1 class="text-center mt-5 mb-5 " style="color: #fff; margin-bottom: 0;"> Messages</h1>
            <div  style="width: 65%; height: 70vh;border: 2.5px solid #fff; margin: auto;border-radius: 6px;padding:2rem;overflow: scroll;">
                <div>
                    <p class="text-center w-75" style="background-color: #72E6D6;position: absolute;top: 126px;width: 50% !important;right: 176px;border: 0.5px solid #fff;color: #fff;border-radius: 6px;padding: 0.375rem;" ng-if="sendingTo != '' "><span style="padding: 1rem;font-size: 1 rem;" ng-bind="sendingTo"></span></p>
                </div>
                <div ng-if="selectedUser.username != null" ng-repeat="msg in msgs">
                    {% verbatim %}
                    <div class="mb-4 " ng-if="msg.sentBy.username === selectedUser.username && msg.method == 'recived' " >
                        <p class="text-left" style="margin-bottom: 0.5rem;padding: 0.375rem .75rem;border-radius: 6px;background: #E3CDCE;opacity: .8;border: 0.5px solid #fff;">{{msg.message}}</p>
                    </div>
                    <div class="mb-4" ng-if="msg.recivedBy.username == selectedUser.username && msg.method == 'sent'">
                        <p style="margin-left: auto;text-align: right;padding: 0.375rem .75rem;border-radius: 6px;background: #bbdcdf;border: 0.5px solid #fff">{{msg.message}}</p>
                    </div>
                    
                    
                </div>  
                {% endverbatim %}
            </div>
            
                <div class="input-group mb-3  m-auto" style="width: 65%;">
                    <!-- <input class="form-control" id="file" type="file" ng-file-select="onFileSelect($files)"> -->
                
                    <input class="form-control" type="text"  ng-model="chat.text"  placeholder="Start Typing...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" ng-click="sendText(chat)"
                            style="border: 0.5px solid #fff;background-color: #72E6D6; color:#fff;">Send</button>
                    </div>
                
                </div>
            
            
        </div>




    </div>




    <!-- <script src="https://chatbot.epsilonai.com/static/js/autobahn.min.js" charset="utf-8"></script> -->
    <script type="text/javascript">

        
    </script>
</body>

</html>